
service: search-api-sls

frameworkVersion: "3.x"

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  versionFunctions: false
  deploymentBucket:
    name: sls-lambda-deploys
  timeout: 60
  environment: ${file(./serverless.env.yml):${opt:stage, 'dev'}}
  vpc:
    securityGroupIds: ${ssm:/vpc/securityGroupIds}
    subnetIds: ${ssm:/vpc/subnetIds}

custom:
  stage: ${opt:stage, 'dev'}
  customDomain:
    domainName: ${env:DOMAIN_NAME, 'search-${sls:stage}.devicebits.com'}
    basePath: ""
    stage: ${sls:stage}
    createRoute53Record: true
    endpointType: "regional"
    apiType: "rest"
    autoDomain: true

functions:
  ingest:
    handler: src/handlers/ingestionHandler.index
    events:
      - httpApi:
          path: /create
          method: post
  getAllDocument:
    handler: src/handlers/getAllDocumentsHandler.index
    timeout: 300
    events:
      - httpApi:
          path: /documents
          method: get
  healthCheck:
    handler: src/handlers/healthCheck.index
    events:
      - httpApi:
          path: /
          method: get
  osSearchHandler:
    handler: src/handlers/osSearchHandler.index
    timeout: 300
    events:
      - httpApi:
          path: /osearch
          method: post

plugins:
  - serverless-offline
  - serverless-domain-manager
